/*google font*/
@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,800,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body{
    background-image: url('/all/img/F3.jpg');
    height: 100%;
    width: 100%;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}
.table{
    padding-left: 140px;
    width: 800px;
}
.title_table{
    background-color: rgba(246, 201, 153, 0.841);
    color: rgb(0, 0, 0); 
    font-weight: 4;
}
.box_title{
    background:  rgba(246, 201, 153, 0.841);
    width:300px; 
    border-radius: 5px;
    text-align: center;
    border:2px solid black;
}